:root {
    font-size: 62.5%;
    --primary-color: #00111d;
    --secondary-color: #e4e4e4;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(45deg, rgb(0, 9, 15) 0%, rgb(0, 15, 71) );
}

.grid-container {
  display: flex;
  width: 100%;
  height: 100%;
  padding: .8rem;
}

body::-webkit-scrollbar-thumb {
  background-color: #e4e4e4;
  border-radius: 2rem;
}

body::-webkit-scrollbar {
  width: 1.5rem;
  background-color: #091842;
}

.left-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 50%;
  padding: 1.5rem;
  margin: 0 1.5rem 0 1.5rem;
  color: #e4e4e4;
}

.left-side li {
  list-style: none;
}

.left-side section {
  text-align: left;
  width: 100%;
}

.photo {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.photo img {
  width: 30rem;
  height: 30rem;
  border-radius: 50%;
  border: .1rem solid #000f38;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.7);
}

.photo h1 {
  font-size: 3.2rem;
  margin: 1.5rem 0;
}

.left-side section h2 {
  margin-bottom: 1rem;
}

adress a {
  text-decoration: none;
  color: #e4e4e4;
  transition: all .2s linear;
}

adress a:hover {
  text-decoration: underline;
  color: #aaccff;
}

.about {
  width: 50%;
}

.about p {
  line-height: 2.5rem;
}

.contact ul{
  display: grid;
  grid-template-columns: 1fr 1.1fr;
  margin-top: 1rem;
}

.contact ul li {
  margin: 0rem 0;
}

.contact ul li i{
  font-size: 2rem;
}

.skills ul{
  display: flex;
  gap: 1rem;
}

.skills img {
  width:5rem;
  cursor: pointer;
}

.right-side {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 1.5rem;
  padding-top: 0;
  background-color: #e4e4e4;
  color: #00263f;
}

.right-side section div{
  padding-left: 3.5rem;
  margin-left: 2rem;
  border-left: .3rem solid #00263f;
}

.right-side section i {
  font-size: 2rem;
  transform: translate(0%, 30%);
  color: #e4e4e4;
  background-color: var(--primary-color);
  padding: 1rem;
  border-radius: 50%;
}

.right-side section h2 {
  margin-bottom: .3rem;
}

.experience, .competition {
  margin-bottom: .5rem;
  margin-left: 1rem;
}

.experience a {
  color: #00111d;
  text-decoration: none;
  transition: color .1s ease-in;
}

.experience a:hover {
  color: #033796;
  text-decoration: underline;
}

.personality tbody tr th, .personality tbody tr td {
  border: .3rem solid #091842;
  padding: .8rem 1rem;
  border-radius: .4rem;
}

.personality tbody tr th {
  background-color: #000f38;
  color: #e4e4e4;
}

.personality tbody tr td {
  width: 20%;
}

.personality tbody tr td:hover {
  background-color: #bfd0ff;
}

.personality p {
  margin-top: .5rem;
}

.personality a {
  color: #00111d;
  text-decoration: none;
  transition: color .1s ease-in;
}

.personality a:hover {
  color: #033796;
  text-decoration: underline;
}

.educations div .education{
  display: flex;
  flex-direction: column;
  gap: .2rem;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50rem;
  padding: 2rem;
  background-color: #e4e4e4;
  border: .5rem solid #001947;
  border-radius: 2rem;
  font-size: 2rem;
  outline: none;
  color: #000f38;
}

.modal::backdrop {
  background-color: #e4e4e43d;
}

.modal div {
  display: flex;
  justify-content: space-between;
}

.modal i {
  font-size: 2.5rem;
  transition: all .1s ease-in;
  color: #000f38;
}

.modal i:hover {
  transform: translate(.3rem);
  font-size: 3rem;
  color: #0c1e50;
}

.modal a {
  outline: none;
  color: #000f38;
  text-decoration: none;
}

.modal a:hover {
  color: #0c1e50;
  text-decoration: underline;
}