:root {
    font-size: 62.5%;
    --primary-color: #00395F;
    --secondary-color: #e4e4e4;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
}

.grid-container {
  width: 100%;
}

.left-side {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  text-align: center;
  padding: 1.5rem;
  background-color: var(--primary-color);
  color: #e4e4e4;
}

.left-side section {
  padding-bottom: 2rem;
  border-bottom: .2rem solid #e4e4e4;
}

.left-side section:last-child {
  border-bottom: none;
}

.left-side li {
  list-style: none;
  margin: 1.5rem;
}

.about p, .languages p{
  text-align: justify;
  margin-top: 1.5rem;
}

.contact li, .skills li {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.contact a {
  text-decoration: none;
  color: #e4e4e4;
  transition: all .2s linear;
}

.contact a:hover {
  text-decoration: underline;
  color: #aaccff;
}

.photo img {
  width: 30rem;
  border-radius: 50%;
  border: .5rem solid #e4e4e4;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.7);
}

.photo h1 {
  font-size: 3.2rem;
  margin-bottom: 1.5rem;
}


.right-side {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 1.5rem;
  background-color: #e4e4e4;
  color: #00263f;
}

.right-side section div{
  padding-left: 3.5rem;
  margin-left: 2rem;
  border-left: .3rem solid #00263f;
}

.right-side h1 {
  display: none;
}

.right-side section i {
  font-size: 2rem;
  transform: translate(0%, 30%);
  color: #e4e4e4;
  background-color: var(--primary-color);
  padding: 1rem;
  border-radius: 50%;
}

.right-side section h2 {
  margin-bottom: 1rem;
}

.educations div .education{
  display: flex;
  flex-direction: column;
  gap: .2rem;
}

@media screen and (min-width: 768px) {  
  .grid-container {
    display: grid;
    grid-template-columns: 40% 60%;
  }

  #mobile-name {
    display: none;
  }

  .photo img {
    width: 80%;
  }

  .right-side {
    gap: 1rem;
    padding: 3rem 4rem;
  }

  .right-side h1 {
    display: inline;
    text-align: center;
    font-size: 4rem;
  }
}
